.shortBlog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

}

.inner {
  padding-top: calc(25px + 3vh);
  padding-top: calc(25px + 3dvh);
  display: flex;
  gap: 30px;
  height: 400px;
  box-sizing: content-box;
}

.blog {
  width: 100%;
}