.shortBlog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

}

.inner {
  padding-top: 3em;
  display: flex;
  gap: 10px;

  box-sizing: content-box;
  flex-direction: column;
  min-height: 500px;
}

.blog {
  width: 100%;

}

@media (min-width: 479.98px) {
  .blog {
    width: 100%;
  
    &:nth-child(3) {
      display: none;
    }
  }
}

@media (min-width: 575.98px) {
  .inner {
    flex-direction: row;
    min-height: 260px;
    height: 260px;
  }
}

@media (min-width: 767.98px) {}


@media (min-width: 991.98px) {
  .inner {
    gap: 15px;
    height: 400px;
  }

  .blog {
    &:nth-child(3) {
      display: block;
    }
  }
}

@media (min-width: 1079.98px) {}