.blogCard {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &::after{
        position: absolute;
        transition: all .3s ease-in-out;
        content: 'Нажмите для просмотра';
        background-color: #fff;
        border-radius: 0 0 10px 0;
        font-weight: 500;
        padding: 5px;
        top: 0px;
        left: 0px;
        opacity: 0;
        transform: translateY(-100%);
        color: #000;
    }
}

.img {
    transition: transform .5s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
}

.desc {
    transition: all .3s ease-in-out;
    padding-top: 5px;
    position: absolute;
    transform: translateY(100%);
    opacity: 0;
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
}

.title {
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-weight: 500;
    padding-top: 5px;
}

.dateTime {
    display: flex;
}

.date {
    color: #707070;
    font-weight: 600;
    font-size: 14px;
}

.timeField {

    position: relative;

    &::after {
        content: "|";
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: #707070;
    }
}
@media (any-hover: hover) {
    .blogCard {
        &:hover .desc {
            transform: translateY(0);
            opacity: 1;
    
        }
        &:hover .img {
            transform: scale(1.1);
        }
        &:hover::after {
            
            opacity: 1;
            transform: translateY(0%);
        }
    }
}