.shortBlog{

}
.shortBlog_inner {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shortBlog_event {
  width: 100%;
}

@media (min-width: 479.98px) {}

@media (min-width: 575.98px) {
  .shortBlog_inner {
    flex-direction: row;
    max-height: 400px;

    gap: 10px;

  }
}

@media (min-width: 767.98px) {
  .shortBlog_inner {
    gap: 20px;

  }
}


@media (min-width: 991.98px) {
  .shortBlog_inner {
    gap: 30px;

  }
}