@import '../../../../styles/settings.scss';

.grid {
    gap: 8px;
    display: flex;
    display: grid;
}
.itemImage {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 600px;
    cursor: pointer;
}


.video {
    position: relative;
    display: block;
    background-color: #FFF;

    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::after {
        border: 12px solid transparent;
        border-left: 20px solid #FFF;
        left: 52.5%;

    }

    &::before {

        padding: 25px;
        border-radius: 50%;
        background-color: rgba(0,0,0,.5);
    }
    &:hover{
        &::before{
            background-color: rgba(0,0,0,.6);

        }
    }
}



.modalImage {
    position: relative;
    height: 100%;

}

.layout {
    position: relative;
    z-index: 1;
    max-height: 100%;
    will-change: transform;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}
.closeBtn {
    position: absolute;
    bottom: 10px;
    right: 15px;
    background-color: #FF0000;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    box-sizing: content-box;
    transition: transform .3s ease-in-out;
    will-change: transform;

    &:hover {
        transform: scale(1.1);
    }
}