@import '../../styles/settings.scss';
.button{
    background-color: $secondary-color;
    color: #fff;
    padding: 10px 28px;
    border: none;
    overflow: hidden;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
    &:hover {
        & .before{
            transform: translateX(-150%);
        }

        & .after{
            transform: translateX(0%);
        }
    }
}
.before, .after{
    position: absolute;
    object-fit: contain;
    top: 0;
    height: 100%;
    width: 20px;
    display: block;
    transition: transform .3s ease-in-out;
}
.before{
    left: 5px;
}
.after{
    right: 5px;
    transform: translateX(150%);
}
