.dateTime {
    display: flex;
}

.date {
    color: inherit;
    font-weight: 600;
    font-size: inherit;
}

.timeField {
    padding-right: 30px;

    position: relative;

    &::after {
        content: "|";
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: #707070;
    }
}