@import '../../styles/settings.scss';

.dateTime {
    display: flex;
}

.dateTime_date {
    color: inherit;
    font-weight: 600;
    font-size: inherit;

    &___time {
        padding-right: 30px;

        position: relative;

        &::after {
            content: "|";
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            color: $text-color;
        }
    }
}