@import '../../../../styles/settings.scss';
.blogs {
    padding-top: 100px;

}
.loader{
    padding-top: 180px;
}
.list {
    padding-top: 40px;
    height: 100%;
    position: relative;
}

.blog {
    margin-bottom: 20px;
    &:last-child{
        margin-bottom: 0;
    }
}
.blogs_empty{
    font-size: 18px;
    color: $text-color;
}