.blog {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 25px;
    overflow: hidden;
}

.content {
    display: flex;
    background: linear-gradient(to right, #f1f1f1, #fafafa);
    border-radius: 30px;
    padding: 20px;
}

.leftPart {
    margin-top: -40px;

}

.imageBox {
    height: 100%;
    max-height: 350px;
    width: 250px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    box-shadow: -2px 3px 9px -2px #363838;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: inline;
}

.scoreBox {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    background-color: #fafafa;
    padding: 7px 10px;
    border-radius: 30px;

}

.score {
    box-sizing: content-box;
    min-width: 20px;
    height: 25px;
    border-radius: 20px;
    padding: 5px 10px;
    text-align: center;
    
    color: #fff;
    font-weight: 500;

    display: flex;
    align-items: center;
    font-weight: 600;

    &::before {
        content: '';
        display: block;
        height: 100%;
        width: 23px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-right: 5px;

    }
}

.likes {
    background-color: #FD3145;

    &::before {

        background-image: url('../../../../assets/icons/like.svg');
    }

}

.repost {
    background-color: #8BB875;

    &::before {

        background-image: url('../../../../assets/icons/share.svg');

    }
}

.tagBox {
    padding-left: 30px;

    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px
}

.tag {
    padding: 8px 12px;
    border-radius: 2em;
    color: #FFF;

    &:nth-child(1n) {
        background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53);
    }

    &:nth-child(2n) {
        background-image: linear-gradient(to right, #667eea, #764ba2);
    }

    &:nth-child(3n) {
        background-image: linear-gradient(to right, #0ba360, #30dd8a);
    }

}

.rightPart {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dateTime {
    justify-content: right;
    padding-bottom: 10px;
}

.desc {
    padding-left: 30px;
    height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-align: justify;

}
.break{
    padding-top: 8px;
    display: block;
    &:first-child{
        padding-top: 0px;  
    }
}
.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: -40px;
}
.button {
    display: block;
}