.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.img {
    object-fit: contain;
    max-width: 120px;
    height: 80px;
}
.cardText{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.title {
    font-weight: 600;
    padding-top: 10px;

}

.desc {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}