@import '../../../../styles/settings.scss';


.header {
    position: fixed;
    animation: animate-down .3s ease-in-out;
    box-shadow: 0px 9px 7px -3px rgba(54, 56, 56, 0.13);
    background-color: #fff;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 3px;
}

.headerInner {
    height: 70px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.nav {
    flex-grow: 1;
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    background-color: #fff;
    gap: 40px;
    transition: transform .3s ease-in-out;
    transform: translateX(120%);

}

.navActive {
    transform: translateX(0px);
}

.linksList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.logo {
    height: 40px;
}

.link {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    color: $title-color;
    padding: 5px 0;

    &::after,
    &::before {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 2px;
        transition: transform .3s ease-in-out;
        background-color: $title-color;

    }

    &::after {
        left: 0;
        transform: translateX(-110%);
    }

    &::before {
        right: 0;
        transform: translateX(110%);
    }

    &:hover {

        &::after,
        &::before {
            transform: translateX(0%);

        }
    }
}

.linkActive {

    &::after,
    &::before {
        transform: translateX(0%);

    }
}

.contactsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.modalBtn {
    position: relative;
    padding: 10px 10px;

    & img {
        display: none;
    }
}



.burgerBtn {
    position: relative;
    display: flex;
    padding: 0;
    height: 27px;
    width: 28px;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;

    & span {
        transition: all .2s;
        background-color: $title-color;
        height: 4px;
        width: 100%;
        margin-top: 5px;
        border-radius: 4px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.burgerClose {
    & span {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 50%;
        right: 0;

        &:nth-child(odd) {
            transform: translateY(-50%) rotate(45deg);
        }

        &:nth-child(even) {
            transform: translateY(-50%) rotate(-45deg);
        }
    }
}

.scrollProgress {
    width: 100%;
    transform-origin: 0%;
    height: 3px;
    background-color: $secondary-color;
    position: relative;
    bottom: -3px;
}

@media (min-width: 479.98px) {}

@media (min-width: 575.98px) {}

@media (min-width: 767.98px) {
    .nav {
        transform: none;
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        padding: 0;
        gap: 20px;
        transition: none;
    }

    .linksList {
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        column-gap: 20px;
        row-gap: 5px;
        flex-wrap: wrap;
    }

    .link {
        font-size: 16px;
    }

    .modalBtn {
        padding: 10px 28px;

        & img {
            display: block;
        }
    }

    .contactsList {
        flex-direction: row;
        gap: 20px;
        & a {
            font-size: 0px;
            &::after,
            &::before {
                height: 25px;
                width: 25px;
            }
        }
    }

    .burgerBtn {
        display: none;
    }
}


@media (min-width: 991.98px) {}

@media (min-width: 1079.98px) {

    .contactsList {
        position: static;
        padding: 0;
        transform: none;
        height: auto;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: row;
    }

    /*  .contactsList {
        position: static;
        padding: 0;
        transform: none;
        height: auto;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 20px;
    }*/
    .contactsList {

        & a {
            font-size: 16px;
            &::after,
            &::before {
                height: 20px;
                width: 20px;
            }
        }
    }
}


@keyframes animate-down {
    0% {
        transform: translateY(-100%);

    }

    100% {
        transform: translateY(0);

    }
}

