
.paragraph{
    padding-top: 5px;
    display: block;
    &:first-child{
        padding-top: 0px;  
    }
}
.tagBox {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px
}

.tag {
    padding: 8px 12px;
    border-radius: 2em;
    color: #FFF;
    font-weight: 600;
    word-break: break-all;
    text-align: center;
    &:nth-child(1n) {
        background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53);
    }

    &:nth-child(2n) {
        background-image: linear-gradient(to right, #667eea, #764ba2);
    }

    &:nth-child(3n) {
        background-image: linear-gradient(to right, #0ba360, #30dd8a);
    }

}
