@import '../../../../styles/settings.scss';

.eventCard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $primary-color;
    border: 1px solid $neutral-color;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba($shadow-color, 0.1);
}

.eventCard___vertical {
    flex-direction: row;
}

.eventCard_header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.eventCard_headerTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.eventCard_headerAbout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 6px;
}

.eventCard_eventType {
    font-size: 16px;
    font-weight: 500;
    color: $text-color;
    margin-right: 10px;
}

.eventCard_dates {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 2px;
}

.eventCard_date {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.eventCard_dateLabel {
    font-size: 13px;
    color: $text-color;
    margin-right: 5px;
}

.eventCard_address {
    font-size: 15px;
    font-weight: 500;
    color: $title-color;
    font-style: normal;
    margin-top: 10px;
}

.eventCard_desc {
    font-size: 14px;
    line-height: 1.4em;
    color: $text-color;
}