@import '../../../../styles/settings.scss';
.eventCard{


}

.eventCard_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.eventCard_headerAbout{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.eventCard_headerTitle{

}
.eventCard_eventType{

}
.eventCard_dates{
    display: grid;
    align-items: flex-end;
    flex-direction: column;
    max-width: 230px;
}
.eventCard_date{
    display: flex;
    align-items: flex-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.eventCard_dateLabel{
    display: block;
    &::after{
        content: ":";
    }
}
.eventCard_address{
    padding-top: 5px;
}
.eventCard_desc{
    padding-top: 10px;
}