.eventCard {
    height: 240px;
    position: relative;
    display: flex;
    background-color: #fff;
    cursor: pointer;

    &___vertical {
        height: auto;
        flex-direction: column;

        & .eventCard_button {
            margin-top: 10px;
        }

        & .eventCard_desc {
            padding: 20px;
        }

        & .eventCard_img {
            max-height: 300px;
        }
    }
}

.eventCard_imageBox {
    overflow: hidden;
    flex-grow: 1;
}

.eventCard_img {
    transition: transform .5s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;

}

.eventCard_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

}


.eventCard_button {
    margin-top: 30px;
}

@media (any-hover: hover) {
    .eventCard {
        &:hover {
            & .eventCard_button {
                &::before {
                    transform: translateX(-150%);

                }

                &::after {
                    transform: translateX(0%);

                }
            }

            & .eventCard_img {
                transform: scale(1.1);
            }
        }
    }
}