
.textBlock{
    padding-top: 10px;
    &:first-child{
        padding-top: 0;
    }
}
.title {
   // padding-left: 10px;
}

.text {
    padding-bottom: 5px;
    &:last-child{
        padding-bottom: 0px;

    }
}