.section {
    overflow: hidden;
    padding: 30px 0;
    background-color: #fff;

    &:nth-child(even) {
        background-color: #F5F5F5;

    }

    &:first-child {
        padding-top: 90px;
    }

}

.fullSize {
    min-height: 100vh;
    min-height: 100dvh;
}