.section {
    overflow: hidden;
    padding: 1.6em 0;
    background-color: rgb(255, 255, 255);

    &:nth-child(even) {
        background-color: #F5F5F5;

    }

    &:first-child {
        padding-top: 90px;
    }

}

.section___fullSize {
    min-height: 100vh;
    min-height: 100dvh;
}