@import '../../styles/settings.scss';

.section {
    overflow: hidden;
    padding: 1.6em 0;
    background-color: $primary-color;

    &:nth-child(even) {
        background-color: $neutral-color;

    }

    &:first-child {
        padding-top: 90px;
    }

}

.section___fullSize {
    min-height: 100vh;
    min-height: 100dvh;
}