.blog {
    width: 100%;
}

.blogInner {
    background: linear-gradient(to bottom, #f1f1f1, #fafafa);
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
}

.leftPart {
    display: flex;
    justify-content: center;
}

.imageBox {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    max-height: 400px;

}

.image {
    object-fit: cover;
}

.blogScore {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fafafa;
    padding: 7px 10px;
    border-radius: 30px;
    display: flex;
    gap: 10px;
}

.rightPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.dateTime {
    justify-content: center;
    margin-bottom: 5px;
    font-size: 17px;
}


.buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.button {
    display: block;
    width: 100%;
}

.text {
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}


@media (min-width: 479.98px) {
    .blog {
        padding-bottom: 20px;
        padding-top: 30px;
        overflow: hidden;

    }

    .blogInner {
        background: linear-gradient(to right, #f1f1f1, #fafafa);
        padding: 20px;
        border-radius: 30px;

    }

    .content {
        flex-direction: row;

    }

    .leftPart {
        margin-top: -40px;
    }

    .imageBox {
        height: 100%;
        max-height: 250px;
        width: 200px;
        border-radius: 20px;
        box-shadow: -2px 3px 9px -2px #363838;
    }
    .image{
        height: 100%;
        width: 100%;
    }
    .rightPart {
        margin-top: 0px;
        &>* {
            padding-left: 15px;
        }
    }
    .dateTime {
        font-size: 15px;
        justify-content: flex-start;
    }
    .buttons {
        justify-content: flex-end;
        gap: 15px;
        margin-bottom: -40px;
        flex-direction: row;
    }
    .button {
        width: auto;
    }
    .text {
        -webkit-line-clamp: 8;

    }
}

@media (min-width: 575.98px) {
    .leftPart {
        margin-top: -40px;
    }
    .imageBox {
        max-height: 300px;
        width: 250px;
        border-radius: 25px;
    }
    .rightPart {
        &>* {
            padding-left: 20px;
        }
    }
    .dateTime {
        justify-content: right;
        font-size: 16px;
    }

    .text {
        text-align: justify;
    }
}

@media (min-width: 767.98px) {

    .imageBox {
        max-height: 350px;
        width: 250px;
        border-radius: 30px;
    }
    .rightPart {
        &>* {
            padding-left: 30px;
        }

    }

    .dateTime {
        margin-bottom: 10px;
    }

    .buttons {
        gap: 20px;
    }

    .text {
        -webkit-line-clamp: 10;
        text-align: justify;
    }
}