.rating {
    box-sizing: content-box;
    min-width: 20px;
    height: 25px;
    border-radius: 20px;
    padding: 5px 10px;
    text-align: center;
    
    color: #fff;
    font-weight: 500;

    display: flex;
    align-items: center;
    font-weight: 600;

    &::before {
        content: '';
        display: block;
        height: 100%;
        width: 23px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-right: 5px;

    }
}

.rating___likes {
    background-color: #FD3145;

    &::before {

        background-image: url('../../../assets/icons/like.svg');
    }

}

.rating___repost {
    background-color: #8BB875;

    &::before {

        background-image: url('../../../assets/icons/share.svg');

    }
}
